@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap'); 

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background:#111;
  color: white;
  background-image: url('../assets/geeks-2894621_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.93;
}

#root {
  // height: 100%;
//   background: #457fca;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


h1 {
  text-align: center;
  
  margin-bottom: 30px;

}

h2 {
  text-align: center;
}

.headers {
  font-family: 'Nunito Sans', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

//  homepage
.homepage-main {
  // background-image: url('../assets/geeks-2894621_1920.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // opacity: 0.55;
  // height: 100vh;
  
}

// navbar
.navbar-menu {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  // background: #5691c8;  /* fallback for old browsers */
  // background-color: #b08968 !important;  /* Chrome 10-25, Safari 5.1-6 */
  opacity: 0.5;
  position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  
}

// login
.ui.container.placeholder.segment.login-form {
  width: 40vw;
  margin-top: 30px;
}

//  register
.register-container{
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
}
.register-info{
  width: 33vw;
  padding-left: 5vw;
  padding-top: 8vh;
}

.ui.container.placeholder.segment.register-form {
  width: 40vw;
  margin-top: 30px;
  opacity: 0.85;
}

// resources
.resource-blurb {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.resource-card-container, .resource-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // margin-top: 30px;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow-y: auto;
  height: 60vh;
}

.resource-card-container a, .resource-filter-container a {
  margin: 10px;
  margin-top: 2vh;
}

.resource-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12vw;
  margin-top: 3vh;
  
  select:focus {
    outline: 0;
  border-style: none;
  }
}

select {
  border-radius: 6px;
  width: 10vw;
  height: 3vh;
  // text-align: center;
}


.ui.card {
  height: 120px;
  opacity: 0.9;

}

.details-container {
  display: flex;
  flex-direction:column;
  margin-top: 10vh;
  margin-left: 30vw;
  width: 50vw;
}

.wishlist-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.embedded-vid{
  display: flex;
  justify-content: center;
}

// cart

.cart {
  width: 70vw;
  margin-left: 13vw;
  margin-top: 5vh;
}

.cart {


  .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
      vertical-align: middle;
      
      
      .itemNumber {
  font-size: .75em;
        color: #777;
        margin-bottom: .5em;
}
      
      h3 {
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .025em;
        color: black;

      }
      p {
        display: inline-block;
        font-size: .85em;
        
        color: black;
        font-family: 'Montserrat', sans-serif;
            .quantity {
        font-weight: bold;
              color: #333;
      }
        
        &.stockStatus {
          color: #82CA9C;
          font-weight: bold;
          padding: .5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: #F69679;
          }
        }
        
      }
      .itemImg {
        width: 4em;
        float: left;
      }
      &.qtyWrap , &.prodTotal {
        text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
      }
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
    }
  }
  
}   

.subtotal {
  float: right;
   width: 35%;
   margin-right: 20vw;
    .totalRow {
      padding: .5em;
      text-align: right;
    
      &.final {
        font-size: 1.25em;
        font-weight: bold;
      }
      span {
        display: inline-block;
        padding: 0 0 0 1em;
        text-align: right;
       
      }
      .label {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: black;
      }
      .value {
   
        letter-spacing: -.025em;
        width: 35%;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
      }
      
    }
  }
  .totalRow.ui.inverted.basic.button {
    margin-left: 27.2vw;
  }

  li {
    list-style: none;
    
  }

  ul {
    display: flex;
    flex-direction: column;
    
  }

  .checkout {
    margin-top: 200px;
    text-align: center;
  }

  .checkout-form {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    border: 1px solid white;
    padding-bottom: 3vh;
    padding-top: 1vh;
  }
  .buy-btn {
    display: flex;
    margin-top: 3vh;
    button {
      width: 150px;
    }
  }
  .checkout-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details, .payment {
    width: 30%;
  }
// category list
.main-cat-container {
  display: flex;
  justify-content: center;
  // width: 70vw;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 55vw;
  margin-top: 4vh;
  // padding-left: 10vw;
  :hover{
    animation: animate__pulse;
    animation-duration: 5s;
  }
  // position: relative;
  // width: 24em;
  // height: 24em;
  // padding: 2.8em;
  // border-radius: 50%;
  // margin: 1.75em auto 0;
}

// .category-container a {
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 4em;
//   height: 4em;
//   margin: -2em;
// }
.cat-container {

  :hover{
    animation: animate__pulse;
    animation-duration: 5s;
  }
}
.ui.circular.segment {
  width: 250px;
  height: 250px;
  opacity: 0.7;
  :hover{
    animation: animate__pulse;
    animation-duration: 5s;
  }
}

.new-habit-buttons {
  display: flex;
  margin-top: 2vh;
  
}

.ui.container.placeholder.segment.add-habit-form{
  opacity: 0.7;
  width: 35vw;
  margin-top: 6vh;
  label {
    color: black;
  }
}

// .ui.basic.button.submit-own {
//   border-color: pink!important;
// }

//  intro tracker page
.no-habits {
  text-align: center;
  height: 30vh;
  padding-top: 10vh;
}

.questions-for-user {
  display: flex;
  flex-direction: column;
  border: 1px solid #ada0a6;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 8vh;
  padding-bottom: 4vh;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  background-color: #ada0a6;
}



.intro-tracker-buttons {
  display: flex;
  justify-content: center;
}

.intro-points-button {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 10vw;
  margin-top: 6vh;
}

.points-span {
  padding-right: 5vw;
  font-size: 20px;
}

// main tracker page
.cal-habit-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.react-calendar {
  height: 300px;
  width: 350px;
  opacity: 0.9;
  
}

.react-calendar__month-view__weekdays {
  color: black;
}
// .react-calendar__month-view__days__day {
//   background-color: pink;
// }
// .react-calendar__tile.clicked {
//   background-color: red;
// }

// .react-calendar__tile--active {
//   background: pink;

// }



.habit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  align-items: baseline;
  justify-content: space-between;
  

}

.habit-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.rewards-container {
  width: 40vw;
  text-align: center;
  // margin-left: 10px;
  // height: 50vh;
}

.quote-container {

  text-align: center;
  padding-top:10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
}


h6.category-on-habit {
  visibility: hidden;
}


// forum 

.main-forum-container {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 5vh;
  color: black;
  overflow-y: auto;
  // width: 60vw;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  height: 70vh;
  
  
}

.forum-section {
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.container-with-icon{
  display: flex;
  .icon {
    margin-top: 17vh;
  }
}

.ui.segment.single-forum-container {
  width: 60vw;
  opacity: 0.9;
}
.ui.left.floated.header.headers {
  font-family: 'Nunito Sans', sans-serif;
}

.comment-container {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
}

.ui.input.comment-add {
  width: 40vw;
}

.ui.basic.button.comment-edit {
  margin-left: 1vw;
}

.with-edit-button {
  display: flex;
  justify-content: space-between;
}
// user profile
.user-hero-section {
  // height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ui.horizontal.divider h1 {
  color: white;
}

.main-user-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 45vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.edit-user-button {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.saved-resources {
  height: 30vh;
  // width: 50vw;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  .ui.circular.segment {
    p {
      color: black;
      // padding-top: 3px;
    
    }
   
  }
 
}



.user-quote {
  display: flex;
  flex-direction: column;
  // width: 60vw;
  text-align: center;
  margin-left: 12vw;
  margin-right: 12vw;
  h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.user-saved-resources {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-info {
  width: 30%;
}

// footer
.footer {
  text-align: center;
  padding: 6vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

