
// navbar
.navbar-menu {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}



// footer
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 70px;
}